*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top left lightblue,rgb(35, 129, 129));
    background-color:rgba(157, 237, 237, 0.753);
}
.inner-box{
    width:400px;
    margin:0 auto;
    position:relative;
    top:42%;
    transform:translateY(-50%);
    padding: 30px 40px;
    background-color:#ffffff09;
    background:linear-gradient(to top left,#ffffffff,#ffffff33);
    backdrop-filter:blur(8px);
    border-radius: 15px;
    box-shadow:1.5px 1.5px 4px rgb(49, 154, 246);
    z-index:2;
}
.signup-header h1{
   font-size:2.7rem;
   color: #212121;
}
.signup-header p{
    font-size:0.9rem;
    color:#555;
}
.signup-body{
    margin:15px 0;
}
.signup-body p{
    margin:10px 0;
}
.signup-body p label{
    display:block;
    font-weight:bold;
}
.signup-body p input{
   width:100%;
   padding:10px;
   border:2px solid #cccc;
   margin-top:5px;
}
.signup-body p input[type="submit"]{
    background-color:rgb(21, 149, 241);
    color:white;
    cursor:pointer;
    border:none;
}
.signup-body p input[type="submit"]:hover{
    background-color:rgb(6, 131, 239);
    box-shadow:1px 1px 4px rgb(6, 131, 239);
}
.signup-footer p{
    text-align:center;
}
.signup-footer p a{
    color:rgb(6, 131, 239);
}
.signup-footer p a:hover{
    color:rgb(7, 92, 177);
}
.circle{
    width:200px;
    height:200px;
    border-radius:100px;
    background: linear-gradient(to top right, #ffffff33,#ffffffff);
    position:absolute;
}
.c1{
    top:100px;
    left:50px;
}
.c2{
    bottom:100px;
    right:50px;
}
